.form {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  position: relative;
}

.emailContainer,
.passwordContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 2rem;
  width: 60rem;
}

.emailContainer__input,
.passwordContainer__input {
  height: 3.5rem;
  padding: 0.5rem;
  font-size: 1em;
}

.buttonsContainer {
  display: flex;
  gap: 2rem;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
  font-weight: 700;
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
    background-color: #fff;
  }
}

.invalidText {
  color: rgb(164, 42, 42);
  font-size: 1.4rem;
}

.invalidInput {
  border: 1px solid rgb(164, 42, 42);
}

.popup {
  position: absolute;
  background-color: #dfffdc;
  padding: 2rem 4rem;
}

.popupCover {
  transform: translateY(-30rem);
  transition: all 1s;
}

.popupIn {
  transform: translateY(-5rem);
}

.errorMessage {
  color: rgb(164, 42, 42);
  font-size: 1.4rem;
}

@media (max-width: 31em) {
  .btn {
    font-size: 1.4rem;
  }

  .emailContainer,
  .passwordContainer {
    width: 80%;
  }
}
