<div class="content" [ngClass]="{ flexDirection: index % 2 === 1 }">
  <div class="textContainer">
    <h2 class="textContainer__heading">{{ news.title }}</h2>
    <span class="textContainer__text">{{ news.description | short }}</span>
    <span class="textContainer__date">{{ news.date }}</span>
  </div>
  <div
    class="imgContainer"
    (mouseenter)="onHover = true"
    (mouseleave)="onHover = false"
  >
    <img [src]="news.imgUrl" alt="Some image" class="imgContainer__img" />
    <div
      class="after"
      (click)="onArticle()"
      [ngClass]="{ show: onHover === true }"
    >
      View more...
    </div>
  </div>
</div>
