.content {
  width: 80%;
  margin: 0 auto;
}

.heading {
  font-size: 2.5rem;
}

.mainContent {
  margin-top: 4rem;
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 60%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__text {
    font-size: 1.7rem;
    color: #999;
  }

  &__input {
    width: 70%;
    padding: 5px;
    font-size: 2rem;
  }
}

.btn {
  margin-top: 3rem;
  width: 12%;
  padding: 6px;

  &:hover {
    cursor: pointer;
  }
}

.imgContainer {
  height: 25rem;
  width: 25rem;

  &__img {
    height: 100%;
    width: 100%;
    object-fit: fill;
  }
}

.warningText {
  margin-top: 1rem;
  color: #a10808;
  text-align: center;
  font-size: 1.8rem;
}

//850
@media (max-width: 53em) {
  .btn {
    width: 20%;
  }
}

//550
@media (max-width: 35em) {
  .btn {
    width: 25%;
  }

  .imgContainer {
    width: 20rem;
    height: 20rem;
  }

  .inputContainer__text {
    font-size: 1.4rem;
  }
}

//410
@media (max-width: 26em) {
  .btn {
    width: 30%;
  }

  .imgContainer {
    height: 16rem;
    width: 16rem;
  }
}
