<h2 *ngIf="!loaded">Loading</h2>
<article class="content" *ngIf="loaded">
  <div class="header">
    <div class="imgContainer">
      <img class="imgContainer__img" [src]="book.imgUrl" alt="book image" />
    </div>
    <div class="headingTextContainer">
      <div class="infoContainer">
        <h2 class="infoContainer__title">{{ book.title }}</h2>
        <span class="infoContainer__author">{{ book.author }}</span>
      </div>
      <div class="headingTextContainer__text">{{ book.description }}</div>
      <div class="lowerContainer">
        <span class="lowerContainer__rating">Rating: {{ book.rating }}</span>
        <span class="lowerContainer__comments"
          >Comments: {{ book.comments ? book.comments.length : 0 }}</span
        >
      </div>
    </div>
  </div>
  <div class="commentList">
    <app-book-comment
      *ngFor="let book of comments"
      [comment]="book"
      (deleteEmmiter)="onDelete($event)"
    ></app-book-comment>
  </div>
  <div *ngIf="isAddingComment" class="commentContainer">
    <div class="inputsContainer">
      <div class="inputContainer">
        <label class="inputContainer__text" for="title">Title:</label>
        <input
          class="inputContainer__input"
          type="text"
          id="title"
          [(ngModel)]="title"
        />
      </div>
      <div class="inputContainer">
        <label class="inputContainer__text" for="content">Content:</label>
        <input
          class="inputContainer__input"
          type="text"
          id="content"
          [(ngModel)]="description"
        />
      </div>
    </div>
    <button class="btnComment btn" (click)="addComment()">Add</button>
  </div>
  <button class="btn" *ngIf="isLogged" (click)="isAddingComment = true">
    Add comment
  </button>
</article>
