<header class="header">
  <div class="logoContainer" routerLink="/">
    <span class="logoContainer__text"> BOOKSHELF </span>
    <div class="logoContainer__icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="logoContainer__icon"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25"
        />
      </svg>
    </div>
  </div>
  <div class="profileContainerLogOut" *ngIf="!user">
    <span
      class="profileContainerLogOut__login"
      routerLink="/auth"
      [queryParams]="{ singup: 'false' }"
      >Log In</span
    >
    <span
      class="profileContainerLogOut__signup"
      routerLink="/auth"
      [queryParams]="{ singup: 'true' }"
      >Sign Up</span
    >
  </div>
  <div *ngIf="user" class="profileContainerLogIn">
    <div class="imgContainer">
      <img [src]="user.imgUrl" alt="profilePic" class="imgContainer__img" />
    </div>
    <div class="contentContainer">
      <span class="contentContainer__username">{{ user.username }}</span>
      <span
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          class="contentContainer__icon"
          (click)="dropdownFunction()"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 8.25l-7.5 7.5-7.5-7.5"
          />
        </svg>
      </span>
      <div class="dropdown" #dropdown>
        <ul class="dropdown__list">
          <li class="dropdown__item" [routerLink]="['profile']">Profile</li>
          <li class="dropdown__item">Edit Profile</li>
          <li class="dropdown__item" (click)="logout()">Logout</li>
        </ul>
      </div>
    </div>
  </div>
</header>
