.content {
  background-color: var(--color-darker-main);
  position: relative;
  box-shadow: 0 0 2rem #0000004c;
  width: 100%;
  word-break: break-all;
}

.imgContainer {
  height: 10rem;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;

  &__img {
    height: 100%;
    width: 50rem;
    object-fit: cover;
    object-position: center;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2rem;
    z-index: 100;
    opacity: 0;
  }

  &__background {
    position: absolute;
    top: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background-color: #00000078;
    opacity: 0;
    transition: all 0.3s;
  }

  &:hover {
    cursor: pointer;
  }
}

.textContainer {
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__title {
    font-size: 2rem;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__content {
    word-break: break-all;
    font-size: 1.4rem;
    line-height: 1.8;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.onHover {
  opacity: 1;
  transition: all 0.3s;
}

.icon {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  z-index: 1000;

  &__icon {
    height: 2.5rem;

    &:hover {
      cursor: pointer;
    }
  }
}

//800
@media (max-width: 50em) {
  .textContainer__content {
    font-size: 1.2rem;
    line-height: 1.6;
  }
}

//700

@media (max-width: 44em) {
  .textContainer {
    margin-top: 1rem;
  }

  .textContainer__title {
    font-size: 1.5rem;
  }

  .textContainer__content {
    font-size: 1rem;
    line-height: 1.6;
  }
}
