:root{
  --color-light-main: #FFFBEB;
  --color-darker-main: #FFE7CC;
  --color-dark-main: #F8CBA6;
}

*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  color: #333;
}

body{
  background-color: var(--color-light-main);
}
