:root {
  --color-light-main: #fffbeb;
  --color-darker-main: #f9dbb9;
  --color-dark-main: #f8cba6;
  --typo-dark: 132, 94, 48;
  --font-heading: 2.5rem;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-break: break-all;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  color: #333;
}

body {
  overflow-x: hidden;
  background-color: var(--color-light-main);
}

.onOverlay {
  overflow-y: hidden;
}

//1100
@media (max-width: 69em) {
  html {
    font-size: 60%;
  }
}

//950
@media (max-width: 59em) {
  html {
    font-size: 55%;
  }
}

//700
@media (max-width: 43em) {
  html {
    font-size: 50%;
  }
}

//500
@media (max-width: 31em) {
  html {
    font-size: 47.5%;
  }
}
